.main-shadow-box {
    background: #fff;
    max-width: 450px !important;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 1.0) !important;
}

.leaflet-logo-container {
    width: 125px !important;
}

.psprog-logo-container {
    width: 200px !important;
    text-align: center;
}

.validationError {
    color: #f00;
    display: block;
}

.validationError:before {
    content: '* ';
}
