<!DOCTYPE html>
<html lang="hu" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/default}">
    <head>
        <title th:text="#{form.authorization.title}">Authorize access</title>
    </head>
    <body>

        <th:block layout:fragment="content">
            <div class="row justify-content-center">
                <div class="col-12 mt-3" style="text-align: center;">
                    <h3>
                        <span th:text="#{form.authorization.welcome_back}">welcome_back</span>
                        <br />
                        <span style="font-weight: bold;" th:text="${name}"></span>
                    </h3>
                    <p>(<span th:text="${email}"></span>)</p>
                    <p th:text="#{form.authorization.permissions_notice}">permissions_notice</p>
                    <ul class="list-group list-group-flush" style="font-size: small;">
                        <li class="list-group-item align-items-baseline py-0" style="text-align: left;"
                            th:each="scope : ${authorizedScope}"
                            th:text="#{'form.authorize.scope.' + ${scope}}">scope</li>
                    </ul>
                    <p class="pt-1" th:text="#{form.authorization.return_notice}">return_notice</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <form action="" method="post" class="w-100">
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary w-100 align-middle">
                                <span th:text="#{form.authorization.button.continue}">continue</span> <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </form>
                    <hr />
                    <form th:action="@{/logout?logoutRef=__${logoutRef}__}" method="post" class="w-100">
                        <div class="mb-3">
                            <button type="submit" class="btn btn-danger w-100 align-middle">
                                <span th:text="#{form.authorization.its_not_me}">its_not_me</span> <i class="fas fa-sign-out-alt"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>

    </body>
</html>
