<!DOCTYPE html>
<html lang="hu" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/default}">
    <head>
        <title th:text="#{form.signin.title}">Sign in</title>
    </head>
    <body>
        <th:block layout:fragment="modal">
            <th:block th:if="${param.auth != null}">
                <div class="modal fade show" id="loginErrorModal" tabindex="-1" aria-labelledby="loginErrorModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="loginErrorModalLabel" th:text="#{flash.signin.failure}">failure</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" th:text="#{form.signin.failure.explanation}">
                                try_again
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    new bootstrap.Modal(document.getElementById('loginErrorModal'), {}).toggle();
                </script>
            </th:block>

            <th:block th:if="${param.signup_status != null}">
                <div class="modal fade show" id="signUpSuccessfulModal" tabindex="-1" aria-labelledby="signUpSuccessfulModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="signUpSuccessfulModalLabel" th:text="#{flash.signup.success}">success</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" th:text="#{flash.signup.success.explanation}">
                                signup_success
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    new bootstrap.Modal(document.getElementById('signUpSuccessfulModal'), {}).toggle();
                </script>
            </th:block>

            <th:block th:if="${param.pwreset_status != null}">
                <div class="modal fade show" id="pwResetSuccessfulModal" tabindex="-1" aria-labelledby="pwResetSuccessfulModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="pwResetSuccessfulModalLabel" th:text="#{flash.pwreset.confirm.success}">success</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" th:text="#{flash.pwreset.confirm.success.explanation}">
                                reset_success
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
					new bootstrap.Modal(document.getElementById('pwResetSuccessfulModal'), {}).toggle();
                </script>
            </th:block>

            <th:block th:if="${param.ext_auth != null}">
                <div class="modal fade show" id="signUpErrorModal" tabindex="-1" aria-labelledby="signUpErrorModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="signUpErrorModalLabel" th:text="#{flash.signin.failure}">Sign-in failed</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <th:block th:if="${#strings.equals(param.ext_auth, 'ADDRESS_IN_USE')}" th:text="#{flash.signup.ext.failure.explanation.address_in_use}">
                                    address_in_use
                                </th:block>
                                <th:block th:if="${#strings.equals(param.ext_auth, 'FAILURE')}" th:text="#{flash.signup.ext.failure.explanation.unknown}">
                                    unknown_error
                                </th:block>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    new bootstrap.Modal(document.getElementById('signUpErrorModal'), {}).toggle();
                </script>
            </th:block>
        </th:block>

        <th:block layout:fragment="content">
            <div class="row justify-content-center">
                <div class="col-12 mt-3" style="text-align: center;">
                    <h3 th:text="#{form.signin.title}">sign_in</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <form th:action="@{/login}" action="#" method="post" class="w-100">
                        <div class="mb-3">
                            <label for="emailInput" th:text="#{form.signin.label.email}">Email</label>
                            <input type="text" class="form-control" th:placeholder="#{form.signin.placeholder.email}" name="email" id="emailInput" required />
                        </div>
                        <div class="mb-3">
                            <label for="passwordInput" th:text="#{form.signin.label.password}">Password</label>
                            <input type="password" class="form-control" th:placeholder="#{form.signin.placeholder.password}" name="password" id="passwordInput" required />
                        </div>
                        <div class="mb-3 d-flex flex-row justify-content-between">
                            <button type="submit" class="btn btn-primary w-100 align-middle">
                                <span th:text="#{form.signin.label.send}">Sign In</span> <i class="fas fa-sign-in-alt"></i>
                            </button>
                            <a class="btn btn-dark mx-2" th:href="@{/oauth2/authorization/github}"><i class="fab fa-github"></i></a>
                            <a class="btn btn-danger" th:href="@{/oauth2/authorization/google}"><i class="fab fa-google"></i></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <a class="btn btn-secondary w-100 align-middle" th:href="@{/signup}">
                        <span th:text="#{form.signin.button.signup}">no_account_yet</span> <i class="fas fa-user-plus"></i>
                    </a>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-12">
                    <a class="btn btn-secondary w-100 align-middle" th:href="@{/password-reset}">
                        <span th:text="#{form.signin.button.pwreset}">forgot_pw</span> <i class="fas fa-unlock-alt"></i>
                    </a>
                </div>
            </div>
        </th:block>
    </body>
</html>
