<!DOCTYPE html>
<html lang="hu" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/default}">
    <head>
        <title>PSProg.hu :: Sign in</title>
    </head>
    <body>
        <th:block layout:fragment="modal">
            <th:block th:if="${param.auth != null}">
                <div class="modal fade show" id="loginErrorModal" tabindex="-1" aria-labelledby="loginErrorModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="loginErrorModalLabel">Sign-in failed</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Incorrect username or password, please try again.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    new bootstrap.Modal(document.getElementById('loginErrorModal'), {}).toggle();
                </script>
            </th:block>

            <th:block th:if="${param.signup_status != null}">
                <div class="modal fade show" id="signUpSuccessfulModal" tabindex="-1" aria-labelledby="signUpSuccessfulModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="signUpSuccessfulModalLabel">Sign-up successful</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Your account was successfully created, you may now sign in.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    new bootstrap.Modal(document.getElementById('signUpSuccessfulModal'), {}).toggle();
                </script>
            </th:block>

            <th:block th:if="${param.pwreset_status != null}">
                <div class="modal fade show" id="pwResetSuccessfulModal" tabindex="-1" aria-labelledby="pwResetSuccessfulModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="pwResetSuccessfulModalLabel">Password successfully reset</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Your password has successfully been reset, you may now sign in with your new password.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
					new bootstrap.Modal(document.getElementById('pwResetSuccessfulModal'), {}).toggle();
                </script>
            </th:block>
        </th:block>

        <th:block layout:fragment="content">
            <div class="row justify-content-center">
                <div class="col-12 mt-3" style="text-align: center;">
                    <h3>Sign in to psprog.hu</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <form th:action="@{/login}" action="#" method="post" class="w-100">
                        <div class="mb-3">
                            <label for="emailInput">Email</label>
                            <input type="text" class="form-control" placeholder="Please enter your email address" name="email" id="emailInput" required />
                        </div>
                        <div class="mb-3">
                            <label for="passwordInput">Password</label>
                            <input type="password" class="form-control" placeholder="Please enter your password" name="password" id="passwordInput" required />
                        </div>
                        <div class="mb-3 d-flex flex-row justify-content-between">
                            <button type="submit" class="btn btn-primary w-75 align-middle">Sign In <i class="fas fa-sign-in-alt"></i></button>
                            <a class="btn btn-dark mx-2"><i class="fab fa-github"></i></a>
                            <a class="btn btn-danger"><i class="fab fa-google"></i></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <a class="btn btn-secondary w-100 align-middle" th:href="@{/signup}">I don't have an account yet <i class="fas fa-user-plus"></i></a>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-12">
                    <a class="btn btn-secondary w-100 align-middle" th:href="@{/password-reset}">I forgot my password <i class="fas fa-unlock-alt"></i></a>
                </div>
            </div>
        </th:block>
    </body>
</html>
