<!DOCTYPE html>
<html lang="hu" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/default}">
    <head>
        <title>PSProg.hu :: Sign up</title>
    </head>
    <body>

        <th:block layout:fragment="modal">
            <th:block th:if="${validationError or param.signup_status != null}">
                <div class="modal fade show" id="signUpErrorModal" tabindex="-1" aria-labelledby="signUpErrorModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="signUpErrorModalLabel">Sign-up failed</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <th:block th:if="${validationError}">
                                    You've provided incorrect information, please check and try again
                                </th:block>
                                <th:block th:if="${#strings.equals(param.signup_status, 'ADDRESS_IN_USE')}">
                                    The email address you've provided is already in use. Please try a different one.
                                </th:block>
                                <th:block th:if="${#strings.equals(param.signup_status, 'RE_CAPTCHA_VERIFICATION_FAILED')}">
                                    Failed to verify ReCaptcha challenge - it might've expired. Please try again.
                                </th:block>
                                <th:block th:if="${#strings.equals(param.signup_status, 'FAILURE')}">
                                    Failed to register your account due to an unknown reason. Please try again later.
                                </th:block>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    new bootstrap.Modal(document.getElementById('signUpErrorModal'), {}).toggle();
                </script>
            </th:block>
        </th:block>

        <th:block layout:fragment="content">
            <div class="row justify-content-center">
                <div class="col-12 mt-3" style="text-align: center;">
                    <h3>Sign up to psprog.hu</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <form th:object="${signUpRequestModel}" th:action="@{''}" action="#" method="post" class="w-100">
                        <div class="mb-3">
                            <label for="username" th:text="#{form.signup.label.username}">placeholder:username</label>
                            <input name="username"
                                   th:value="${!(signUpRequestModel.username == null || #fields.hasErrors('username')) ? signUpRequestModel.username : null}"
                                   class="form-control" required="required" th:placeholder="#{form.signup.placeholder.username}" maxlength="255" type="text" id="username" />
                            <span class="validationError" th:if="${#fields.hasErrors('username')}" th:text="#{form.signup.validation.error.username}">placeholder:val_err_email</span>
                        </div>
                        <div class="mb-3">
                            <label for="email" th:text="#{form.signup.label.email}">placeholder:email</label>
                            <input name="email"
                                   th:value="${!(signUpRequestModel.email == null || #fields.hasErrors('email')) ? signUpRequestModel.email : null}"
                                   class="form-control" required="required" th:placeholder="#{form.signup.placeholder.email}" maxlength="255" type="text" id="email" />
                            <span class="validationError" th:if="${#fields.hasErrors('email')}" th:text="#{form.signup.validation.error.email}">placeholder:val_err_email</span>
                        </div>
                        <div class="mb-3">
                            <label for="password" th:text="#{form.signup.label.password}">placeholder:password</label>
                            <input name="password"class="form-control" required="required" th:placeholder="#{form.signup.placeholder.password}" type="password" id="password" />
                            <span class="validationError" th:if="${#fields.hasErrors('password')}" th:text="#{form.signup.validation.error.password}">placeholder:val_err_email</span>
                        </div>
                        <div class="mb-3">
                            <label for="password_confirm" th:text="#{form.signup.label.password.confirm}">placeholder:passwordconf</label>
                            <input name="passwordConfirmation" class="form-control" required="required" th:placeholder="#{form.signup.placeholder.password.confirm}" type="password" id="password_confirm" />
                            <span class="validationError" th:if="${#fields.hasGlobalErrors()}" th:text="#{form.signup.validation.error.passwordConfirmation}">placeholder:val_err_email</span>
                        </div>
                        <th:block th:insert="fragments/security.html :: recaptcha-widget" />
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary w-100 mt-3 align-middle">Sign up <i class="fas fa-sign-in-alt"></i></button>
                        </div>
                        <div class="mb-3">
                            <a class="btn btn-secondary w-100 align-middle" href="/" th:href="@{/login}">Cancel <i class="fas fa-angle-left"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>

    </body>
</html>
